$bakerloo-colour: #75431f;
$central-colour: #dc241f;
$circle-colour: #ffce00;
$district-colour: #007229;
$hammersmith-city-colour: #d799af;
$jubilee-colour: #6a7278;
$metropolitan-colour: #751056;
$northern-colour: #000;
$piccadilly-colour: #0019a8;
$victoria-colour: #00a0e2;
$waterloo-city-colour: #76d0bd;
$sidebar-button-odd: #eaeaea;
$sidebar-button-even: #fafafa;
$logo-background: #2c3e50;
