@mixin sidebar-button($colour, $text-hover-colour) {
  border: none;
  border-bottom: 0;
  border-top: 0;
  border-left: 9px solid $colour;
  border-right: 9px solid $colour;
  border-radius: 0;
  box-sizing:border-box;
  display: block;
  transition: background-color 0.5s ease-in-out,
              color 0.5s ease-in-out;
  width: 100%;
  color: black;
  padding-top: 18px;
  padding-bottom: 6px;

  &:hover, &.active {
    background-color: $logo-background;
    color: $text-hover-colour;
    border-bottom: 0;
    border-top: 0;
    border-left: 16px solid $colour;
    border-right: 16px solid $colour;
    padding-top: 18px;
    padding-bottom: 6px;
    box-sizing:border-box;
  }
}
