$base-title-font-family: 'Tajawal', sans-serif;
$base-font-family: 'Bellefair', serif;

@import "../modules/all";

html, body {
  overflow-x: hidden;
  width: 100%;
}

$line-colours: (bakerloo: $bakerloo-colour,
                central: $central-colour,
                circle: $circle-colour,
                district: $district-colour,
                hammersmith-city: $hammersmith-city-colour,
                jubilee: $jubilee-colour,
                metropolitan: $metropolitan-colour,
                northern: $northern-colour,
                piccadilly: $piccadilly-colour,
                victoria: $victoria-colour,
                waterloo-city: $waterloo-city-colour);
