main {
  min-height: calc(100vh - 148px);
}

.dashboard-content {
  padding: 15px 40px;
}

#loading img {
  width: 100px;
  margin: 0 auto;
}

.placeholder-icon {
  font-size:160px;
}

@each $line, $col in ($line-colours) {
  .placeholder-icon-#{$line} {
    color: $col;
  }
  .dropdown-#{$line} {
    background-color: $col !important;
  }
}

#map {
  min-height: 150px;
}

#map, .chart {
  margin-bottom: 30px;
  text-align: center;
}

#crime-selector, #force-selector {
  float:left;
  margin-right:10px;
}

#pie-chart {
  clear: both;
  min-height: 200px;
}

#pie-chart.dc-chart .pie-slice {
    fill: white;
    font-size: 12px;
    cursor: pointer;
}

#pie-chart.dc-chart .pie-slice :hover {
    fill-opacity: .8;
}

#pie-chart.dc-chart .selected path {
    fill: #2C3E50;
    fill-opacity: 1;
}

#line-chart path.line {
  fill: #efefef;
}
