@each $line, $col in ($line-colours) {
  .sidebar-button.#{$line}-button {
    @include sidebar-button($col, white);
  }
}

.dashboard-sidebar {
  margin-top: 1rem;
}

.dashboard-sidebar button:nth-child(odd) {
  background-color: $sidebar-button-odd;
}

.dashboard-sidebar button:nth-child(even) {
  background-color: $sidebar-button-even;
}
